/logs/
/.idea/
*.iml
Common/src/main/resources/
Common/src/test/
Common/target/generated-sources/
Common/target/generated-test-sources/
Common/target/test-classes/
EurekaServer/src/test/
EurekaServer/target/generated-sources/
EurekaServer/target/generated-test-sources/
GateWayService/src/test/
GateWayService/target/generated-sources/
GateWayService/target/generated-test-sources/
GateWayService/target/test-classes/
KnowledgeService/src/test/
KnowledgeService/target/generated-test-sources/
KnowledgeService/target/test-classes/
UserService/src/main/resources/log/
UserService/src/test/
UserService/target/generated-test-sources/
UserService/target/test-classes/
target/
